@charset "utf-8";

/*******************************************
				   Footer
*******************************************/

#footer {
	float:left;
	width:100%;
	padding: 15px 0;
	background:#859987;

	p {
		float:left;
		color:#fff;
	}

	a {color:#fff; text-decoration: none;}
}